@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.app {
  margin: 0;
  min-height: 100dvh;
}

.pattern {
  background-image: radial-gradient(#4f4c4b 1.5px, transparent 1.5px),
    radial-gradient(#4f4c4b 1.5px, transparent 1.5px);
  background-color: #232020;
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

.navBlur {
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
